.frontPageDiv
    img
        width: 100%
    h1
        text-transform: uppercase
        font-family: sans-serif
        color: #495464
        font-size: 24px
    .spaceBetween
        padding: 10px 20px
        display: flex
        justify-content: space-between