.phoneMenuDiv
    background: black
    flex-direction: row
    display: flex
    height: 99px
    position: fixed
    bottom: 0
    width: 100%
    z-index: 10
button
    display: flex
    justify-content: center
    align-items: center
    width: 25%
    background: black
    color: white
    width: 100%
    border: none
    .svg
        width: 30px
        height: auto
.burgerMenu
    position: relative
.burgerMenuDiv
    background: black
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    position: fixed
    right: 0
    bottom: 99px
    width: 300px
    height: 601px
    border: 1px solid #495464
.searchMenu
    position: relative
.searchMenuDiv
    position: absolute
    min-width: 200px
    width: 200px
    max-width: 200px
    bottom: 99px
    .searchMenuInput
        border-radius: 0
        border: none
        border-top: 1px #333 solid
        height: 45px
        min-width: 100vw
        padding: 20px

@media screen and (min-width: 714px)
    .phoneMenuDiv
        display: none
