*
    margin: 0
    padding: 0
    box-sizing: border-box

.cap
    text-transform: uppercase
.uppercase
    text-transform: capitalize
.font-fam
    font-family: 'Museo Sans Rounded 500'
.orangeColor
    color: #FF6900
.redColor
    color: #FF0000
.orangeButton
    width: 168px
    padding: 8px 28px
    background: #FF6900
    border: none
    border-radius: 2px
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 25%)
    &:hover
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 25%)
