.productPageDiv

    h1
        padding: 41px 0 0 34px
    .indeholdProductPage
        display: flex
        flex-direction: column
    .chevron-downImage
.panel
    padding: 0 18px
    width: 300px
    display: none
    background-color: white
