.productFeactContainer
    flex-direction: row
    flex-wrap: wrap
    display: flex
    gap: 16px
    justify-content: center
    .product-card
        flex-shrink: 0
        width: 260px
        min-height: 397px
        max-height: 397px
        padding: 8px

        display: flex
        flex-direction: column
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25)
        border-radius: 8px
        background-color: #fff
        img
            aspect-ratio: 1 / 1; /* kvadrat */
            width: 100%
            height: auto
            object-fit: contain
            max-height: 200px
            min-height: 200px
        h3
            font-family: 'Museo Sans Rounded 300'
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
        p
            font-family: 'Museo Sans Rounded 300'
        span
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            gap: 10px
            span
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                font-size: 14px
        .right
            display: flex
            align-items: center
            justify-content: flex-end
            gap: 6px
            font-size: 12px
            height: 35px

        .compareImage
            width: 24px
            height: 24px
            object-fit: contain

        button
            align-self: center
            display: flex